* {
  @include box-sizing;
}

html {
  font-family: $primary;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 100%;
  line-height: 1.5;

  @media (min-width: 30em) {
    font-size: 112.5%;
  }

  @media (min-width: 45em) {
    font-size: 125%;
  }

  @media (min-width: 60em) {
    font-size: 137.5%;
  }
}

body {
  margin: 0;
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $accent-color;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;
  font-size: 90%;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
