.catalogue {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;

  &-item {
    color: $default-color;
    display: inline-block;
    border-bottom: 1px solid $catalog_divider_color;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;

    &:hover .catalogue-title span,
    &:focus .catalogue-title span {
      border-bottom-color: $accent-color;
    }

    &:last-child {
      border: 0;
    }

    .more {
      color: $accent-color
    }
  }

  &-time {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $accent-color;
    margin-top: 0;
    margin-bottom: 1.181em;
    font-size: 1.27em;
    line-height: 1.179;

    span {
      @include transition(all .3s ease-out);
      border-bottom: 1px solid transparent;
    }
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
