.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

// main,
// footer,
// .nav-container {
//   display: block;
//   margin: 0 auto;
//   max-width: 700px;
//   padding: 0 1rem;
//
//   @media (min-width: 600px) {
//     padding: 0 2.618rem;
//   }
// }

.site-logo {
  display: block;
  height: 1.3em;
  margin: .25em auto 0;
}

main {
  padding: 0 3em 3em;
  background-color: $content-background-color;
}

.nav {
  padding: 3em;
  background-color: $content-background-color;
  text-align: center;

  &-container {
    display: flex;
    justify-content: space-between;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;
    font-size: 1.2em;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  h1 {
    margin: 0;
    font-size: 2em;
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0 1rem;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;
    font-size: 0.9em;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    ul {
      bottom: 0;
      position: absolute;
      right: 0;
      padding: 0 2.618rem;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
